beautifulsoup4
black
fakeredis
fastapi
h2
httptools
httpx
ipdb
isort
loguru
lxml
pip-chill
pytest-asyncio
pytest-clarity
pytest-cov
pytest-randomly
pytest-xdist
python-dotenv
pyyaml
refurb
ruff
uvicorn
watchfiles
websockets